src/main/webapp/wsdl/XDS.b_DocumentRepositoryWSDLSynchMTOM.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentRepository" targetNamespace="urn:ihe:iti:xds-b:2007">
    
  <documentation>IHE XDS.b Document Repository</documentation>
    
  <types>
        
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007">
            
      <xsd:include schemaLocation="XDS.b_DocumentRepositoryMTOM.xsd"/>
          
    </xsd:schema>
      
  </types>
    
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsmtom_policy">
        
    <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
      
  </wsp:Policy>
    
  <message name="RetrieveDocumentSet_Message">
        
    <documentation>Retrieve Document Set</documentation>
        
    <part element="ihe:RetrieveDocumentSetRequest" name="body"/>
      
  </message>
    
  <message name="RetrieveDocumentSetResponse_Message">
        
    <documentation>Retrieve Document Set Response</documentation>
        
    <part element="ihe:RetrieveDocumentSetResponse" name="body"/>
      
  </message>
    
  <message name="ProvideAndRegisterDocumentSet-b_Message">
        
    <documentation>Provide and Register Document Set</documentation>
        
    <part element="ihe:ProvideAndRegisterDocumentSetRequest" name="body"/>
      
  </message>
    
  <message name="ProvideAndRegisterDocumentSet-bResponse_Message">
        
    <documentation>Provide And Register Document Set Response</documentation>
        
    <part element="rs:RegistryResponse" name="body"/>
      
  </message>
    
  <portType name="DocumentRepository_PortType">
        
    <operation name="DocumentRepository_RetrieveDocumentSet">
            
      <input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
            
      <output message="ihe:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
          
    </operation>
        
    <operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
            
      <input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
            
      <output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
          
    </operation>
      
  </portType>
    
  <binding name="DocumentRepository_Binding" type="ihe:DocumentRepository_PortType">
        
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsmtom_policy" required="true"/>
        
    <operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
            
      <soap:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
            
      <input>
                
        <soap:body use="literal"/>
              
      </input>
            
      <output>
                
        <soap:body use="literal"/>
              
      </output>
          
    </operation>
        
    <operation name="DocumentRepository_RetrieveDocumentSet">
            
      <soap:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet"/>
            
      <input>
                
        <soap:body use="literal"/>
              
      </input>
            
      <output>
                
        <soap:body use="literal"/>
              
      </output>
          
    </operation>
      
  </binding>
    
  <service name="DocumentRepository_Service">
        
    <port binding="ihe:DocumentRepository_Binding" name="DocumentRepository_Service">
            
      <soap:address location="http://localhost:8080/WebServiceProject2/services/DocumentRepository_Service"/>
          
    </port>
      
  </service>
  
</definitions>
